.title-color {
  color: #334155;
}

// Estilos generales para el navbar
nav.navbar {
  padding: 1.5rem 2.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title-color {
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #000; // Color del título
  }

  .icons {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    font-size: 1.25rem;

    a {
      padding: 0 1.5rem; // Espaciado entre los íconos
      display: flex; // Flexbox para centrar el ícono
      align-items: center; // Alinea el ícono verticalmente
      text-decoration: none; // Elimina el subrayado de los enlaces

      i {
        color: inherit; // Hereda el color del elemento padre
        transition: color 0.3s; // Transición suave para el cambio de color

        // Estilos específicos para el estado de hover
        &:hover {
          color: #555; // Color base al pasar el mouse sobre el ícono
        }
      }

      // Colores específicos para cada ícono
      .fa-whatsapp {
        color: #25D366; // Color original de WhatsApp

        &:hover {
          color: #128C7E; // Color de WhatsApp al pasar el mouse
        }
      }

      .fa-instagram {
        color: #E1306C; // Color original de Instagram

        &:hover {
          color: #C13584; // Color de Instagram al pasar el mouse
        }
      }

      .fa-user {
        color: #000; // Color original del ícono de usuario

        &:hover {
          color: #555; // Color del ícono de usuario al pasar el mouse
        }
      }
    }
  }
}
